dialog#translation-dialog {
  height: 480px;
  width: 640px;
  top: calc( 50vh - 240px);
  left: calc( 50vw - 320px);

  > div,
  > form {

    > section {
      display: flex;
      flex-direction: column;

      > div {
        
        display: flex;
        flex-direction: column;
        
        > menu[role=toolbar] {

          > li {

            > label:has( + select ) {
              white-space: nowrap;
              display: inline-block;
            }
          }
        }
        
        > textarea {
          flex-grow: 1;
          margin-top: 2px;
          resize: none; 
          width:calc(100% - 5px); 
          height: calc( 100% - 1em);
        }
      }

      > div:first-child {
        resize: vertical;
        overflow: hidden;
        padding-bottom: .2em;
        height: 220px;
      }
      
      > div:last-child {
        border-top-style:solid;
        border-top-width:1px;
        flex-grow: 1;
      }
      
    }

  }
  
}