html, body {
  margin: 0px;
  padding: 0px;
}
/* Basic Styling */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  
  > main[role=application] {
    
    display: flex;
    flex-direction: column;
    
    > header {
      background-color: #333;
      color: #fff;
      padding: 1em 0;
      text-align: center;
      position: fixed; /* Keep header at the top */
      top: 0;
      width: 100%;
      z-index:1;
    }
    
    > footer {
      background-color: #333;
      color: #fff;
      padding: 1em 0;
      text-align: center;
      position: fixed; /* Keep footer at the bottom */
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
    
    > footer:has (textarea:empty) {
      > button#promptModel {
        color: red;
      }
    }
    
    > section {
      padding: 20px 0px 70px 0px;
      flex-grow: 1; /* Allow the section to expand */
      border-bottom: 1px solid #ddd;
      overflow-y: auto; /* Allow scrolling */
      position: absolute;
      top: 53px;
      bottom: 74px;
      left: 0px;
      right: 0px;
    }        
  }

  > main[role=application]:not([data-conversation-status=ready]) {
    button#promptModel {
      display: none;
    }
  }
  > main[role=application][data-conversation-status=ready] {
    button#promptModel {
      display: unset;
    }
  }
  
  > main[role=application]:not(
    [data-conversation-status='awaiting-response']
   ,[data-conversation-status='partial-response-received']
  ) {
    button#stop {
      display: none;
    }
  }
  
  > main[role=application](
    [data-conversation-status='awaiting-response']
   ,[data-conversation-status='partial-response-received']
  ) {
    button#stop {
      display: unset;
    }
  }
  
}

div.speech-bubble {
  position: relative;
  background-color: rgb(230, 230, 255);
  border-radius: 1em;
  margin-top: 2em;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 10px 10px 10px rgb(130, 130, 155);
  border-color: rgb(200, 200, 225);
  border-style: solid;
  border-width: 1px;
}
      
div.speech-bubble.response {
  margin-right: 30%;
  margin-left: 10%;
}

div.speech-bubble.request {
  margin-left: 30%;
  margin-right: 10%;
}


div.speech-bubble::before {
  display: block;
  font-size: smaller;
  font-weight: bold;
}

div.speech-bubble.response[data-time-elapsed]::before {
  content: "This took " attr(data-time-elapsed) "ms. Usage: " attr(data-input-ratio) "%";
}

div.speech-bubble.response  {
  > pre {
    white-space: pre-wrap;
  }
    
}
