/*
* Spinning refresh icon
* Usage:
*
*     dialog[aria-busy=true] > header > h1::before {
*       animation-name: spinnging_refresh;
*       animation-duration: 1s;
*       animation-timing-function: ease-in-out;
*       animation-iteration-count: infinite;
*     }
*
*/

@keyframes spinnging_refresh {
  0% {
    content: var( --icon-refresh );
    transform: rotate(0deg);
  }
  100% {
    content: var( --icon-refresh );
    transform: rotate(360deg);
  }
}
