dialog.input-output-dialog#summarization-dialog {
  height: 480px;
  width: 640px;
  top: calc( 50vh - 240px);
  left: calc( 50vw - 320px);

  > div,
  > form {

    > header {
      > h1::before {
        content: var( --icon-list-details );
      }      
    }
    
    > section {
      > form {
        > header {
          
          
        }
      }
    }
    
  }
  
}