button {
  cursor: pointer;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}

label:has( > input[type=file] )::before,
button::before {
  font-family: var( --icon-font-family );
  font-size: var( --icon-medium );
  color: var( --icon-color-subtle );
  margin-left: -2px;
  margin-right: 2px;
}

label:has( > input[type=file] ):hover::before,
button:hover::before {
  color: var( --icon-color-highlight );
}

label:has( > input[type=file] ) {
  cursor: pointer;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  padding-block: 2px;

  background-color: buttonface;
  color: buttontext;
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: outset;
  border-color: buttonborder;
  

  > input[type=file] {
    display: none;
  }
  
}

