/**
* action buttons (as opposed to submit buttons) have type=button
*/
button[type=button] {
  
}

button[name="confirm"]::before {
  /* check */
  content: '\ea5e';
}

button[name="send"]::before {
  /* send */
  content: '\eb1e';
}

button[name="abort"]::before {
  /* cancel */
  content: '\ff11';
}

button[type=button][name=copy]::before {
  /* copy */
  content: '\ea7a';
}

button[type=button][name=upload]::before {
  /* upload */
  content: '\eb47';
}

button[type=button][name=download]::before {
  /* download */
  content: '\ea96';
}

button[type=button][name=restore]::before {
  /* restore */
  content: '\fafd';
}

button[type=button][name=delete]::before {
  /* trash */
  content: '\eb41';
}

button[type=button][name=summarize]::before {
  /* list-details */
  content: '\ef40';
}

button[type=button][name=translate]::before {
  /* language  */
  content: '\ebbe';
}

button[type=button][name=wizard]::before {
  /* confetti */
  content: '\ee46';
}

