menu[role=menubar],
menu[role=toolbar] {
  margin-block-start: .5em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
  
  > li {
    display: inline-block;
    list-style: none;
    
    > button {
      appearance: none;
      border-style: none;
      background-color: transparent;
      padding: 0px;      
    }
            
    
    > label[for]:has( + button ) {
      cursor: pointer;
      border-style: solid;
      border-width: 1px;
      border-radius: .2em;
      padding: .2em;
      background-color: var( --medium-background-color );
    }
    
  }
}


form[role=menubar]:has( input[role=menuitem][type=radio] ) {
  
  border-style: solid;
  border-width: 1px;
  border-color: var( --dark-border-color );
  border-radius: .5em;
  
  > input[role=menuitem][type=radio] {
    appearance: none;
  }
   
  > input[role=menuitem][type=radio]::before {
    font-family: var( --icon-font-family );
    font-size: var( --icon-medium );
    color: var( --icon-color-subtle );
  }

  > input[role=menuitem][type=radio]:checked::before {
  }

  > input[role=menuitem][type=radio]:hover::before,
  > input[role=menuitem][type=radio]:checked::before {
    color: var( --icon-color-highlight );
  }

}
