dialog.llm-prompt {

}

/* 
  send prompt button should be disabled when the prompt input is invalid
  
  Note: adding the required attribute to the input, implies it is invalid when there is no value set.
  This is an alternative to the :blank pseudoclass

*/
dialog.llm-prompt:has( textarea[name="input-prompt"]:invalid) 
{
  button[name="send-prompt"] {
    pointer-events: none;
    color: var( --placeholder-color );
  }
  
}

main:not( [data-app-status=ready] ) {

  dialog.llm-prompt {

    button[name=send] {
      display: none;
    }

  }

}

main[data-app-status=ready] {
  
  dialog.llm-prompt {

    button[name=send] {
      display: unset;
    }

  }

}

main:not( [data-app-status=receiving], [data-app-status=sent] ) {
  
  dialog.llm-prompt {
    
    button[name=abort] {
      display: none;
    }
    
  }
  
}

main( [data-app-status=receiving], [data-app-status=sent] ) {

  dialog.llm-prompt {
    
    button[name=abort] {
      display: unset;
    }
    
  }

}

dialog.llm-prompt#generic-prompt {
  min-width: 195px;
  min-height: 95px;
  width: 400px;
  height: 200px;
  top: calc(100% - 250px);
  left: calc(50% - 200px);
  
  > div {
    > header {
    }
    
    > form {

      flex: 1;

      display: flex;
      flex-direction: column;
      
      > menu[role=toolbar] {
        flex-shrink: 0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: var( --dark-border-color ); 
        padding: 0px 1px 1px; 1px;
        
        
      }
      
      > div[role=tablist] {
                
        > div {
          
          > label:has( + input[type=radio][value=input] )::before {
            content: var( --icon-pencil);
          }


          > label:has( + input[type=radio][value=list]  )::before {
            content: var( --icon-list-numbers);
          }
          
          > textarea[role=tabpanel] {
            outline: none; 
          }
        }
      }
    }
    
    > footer {
    }
  }

  textarea[name="input"] {
    resize: none;
    top: 62px;
    width: calc(100% - 4px);
    height: calc(100% - 66px);
  }
  
}
